<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.SysUserMapper">
    <resultMap id="BaseResultMap" type="com.example.model.SysUser">
        <!--@mbg.generated-->
        <!--@Table sys_user-->
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="account" property="account"/>
        <result column="password" property="password"/>
        <result column="del_flag" property="delFlag"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="create_user_id" property="createUserId"/>
        <result column="update_user_id" property="updateUserId"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, `name`, account, `password`, del_flag, create_time, update_time, create_user_id,
        update_user_id
    </sql>

    <select id="pageList" resultType="com.example.vo.UserVo">
        select name, account, email
        from sys_user
                     inner join sys_user_role on sys_user_role.user_id = sys_user.id
                ${ew.customSqlSegment}
    </select>
</mapper>
